.row.grid-divider
  .col-md-6.col-lg-6.px-lg-5
    %h5.card-title.text-center= t('.sign_up_by_email')
    .row.px-4
      .col.bg-light.text-sign-up-form.px-5.py-4
        = simple_form_for(resource, validate: true, as: resource_name,
        url: registration_path(resource_name)) do |f|
          .form-inputs
            = f.input :username, required: true,
            input_html: { autocomplete: 'username' }, validate: true
            = f.input :email, required: true, input_html: { autocomplete: 'email' },
            validate: true
            = f.input :password, required: true, validate: true,
            hint: (t('devise.shared.minimum_password_length',
            count: @minimum_password_length) if @minimum_password_length),
            input_html: { autocomplete: 'new-password' }
            = f.input :password_confirmation, required: true,
            input_html: { autocomplete: 'new-password' }
          .captcha
            = recaptcha_tags hl: 'tr'
          .form-actions
            = f.button :submit, t('.sign_up'), class: 'btn btn-info', id: 'btn_sign_up'
  .col-md-6.col-lg-6.px-lg-5.mx-3.my-4.py-3.mx-sm-3.my-md-0.py-md-0.mx-md-0
    .row.mt-md-5.ml-md-2
      .col-12
        .btn-group-vertical.btn-group-sm
          %button.btn.btn-facebook-auth
            %i.fab.fa-facebook.fa-lg
            %span.p-3 Facebook ile Kayıt Ol
          %button.btn.btn-twitter-auth.mt-2
            %i.fab.fa-twitter.fa-lg
            %span.p-3 Twitter ile Kayıt Ol
          %button.btn.btn-google-auth.mt-2
            %i.fab.fa-google.fa-lg
            %span.p-3 Google ile Kayıt Ol
        .row.mt-4
          .col-12
            %span Zaten kayıtlı mısınız?
          .col-12
            = link_to 'Buradan giriş yapabilirsiniz', new_user_session_path, class: 'link-sign-up-form'
        .row.mt-5
          .col-12.text-motto-sign-up-form
            %p
              %i.fas.fa-archive.fa-lg
              %span 3D dosyalarınızı organize edin
            %p
              %i.fas.fa-desktop.fa-lg
              %span 3D tasarımcı olun
            %p
              %i.fas.fa-cube.fa-lg
              %span Çıktı alabileceğiniz onlarca 3D tasarıma erişin
