.row
  - providers.each do |provider|
    - image_tag = provider_image_tag(provider)
    - label_provider = label_for_provider(provider)
    .col-lg-6.col-md-12.mb-3
      - if auth_active?(provider)
        = link_to unlink_profile_account_path(provider: provider), method: :delete, class: 'btn btn-block btn-secondary btn-icon' do
          %span.btn-inner--icon
            = image_tag
          %span.btn-inner--text
            = "#{label_provider} Hesabını Çıkar"
      - else
        = link_to omniauth_authorize_path(:user, provider), method: :post, class: 'btn btn-block btn-secondary btn-icon' do
          %span.btn-inner--icon
            = image_tag
          %span.btn-inner--text
            = "#{label_provider} ile Bağlan"
