-# header element starts/
%header.header-global
  -# nav element starts/
  %nav#navbar-main.navbar.navbar-main.navbar-expand-lg.headroom{class: navbar_class(use_hero?) }
    .container
      = link_to image_tag('white.png'), root_path,
      class: 'navbar-brand mr-lg-5'
      %button.navbar-toggler{"aria-controls" => "navbar-global", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar-global", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbar-global.navbar-collapse.collapse
        .navbar-collapse-header
          .row
            .col-6.collapse-brand
              %a{:href => "#"}
                = link_to image_tag('blue.png'), root_path
            .col-6.collapse-close
              %button.navbar-toggler{"aria-controls" => "navbar-global", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar-global", "data-toggle" => "collapse", :type => "button"}
                %span
                %span
        %ul.navbar-nav.align-items-lg-center.ml-lg-auto
          - if header_link?(:search)
            %li.nav-item
              %form.form-inline.my-2.my-lg-0
                %input.form-control{"aria-label" => "Search", :placeholder => "Ara", :type => "search"}/
          - if header_link?(:upload)
            %li.nav-item.d-none.d-lg-block.ml-2
              %a.btn.btn-neutral.btn-icon{:href => "/designs/new"}
                %span.nav-link-inner--text Yükle
            %li.nav-item.d-md-none
              %a.nav-link.nav-link-icon{:href => "/designs/new"}
                -# %i.fa.fa-cloud-download
                %span.nav-link-inner--text Yükle

          - if header_link?(:user_dropdown)
            %li.nav-item.ml-1.dropdown
              %a#user-dropdown.nav-link.nav-link-icon.d-none.d-lg-block{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                %i.fas.fa-user.fa-1x
              .dropdown-menu.dropdown-menu-right.d-none.d-lg-block{"aria-labelledby" => "user-dropdown"}
                %a.dropdown-item{ href: '#' } Profil
                = link_to 'Ayarlar', edit_user_registration_path, class: 'dropdown-item'
                = link_to t('devise.sessions.destroy.log_out'), destroy_user_session_path, method: :delete, class: 'dropdown-item'
              .dropdown-menu.d-md-none
                %a.nav-link.nav-link-icon{ href: '#' } Profil
                = link_to 'Ayarlar', edit_user_registration_path, class: 'nav-link nav-link-icon'
                = link_to t('devise.sessions.destroy.log_out'), destroy_user_session_path, method: :delete, class: 'nav-link nav-link-icon'
          - if header_link?(:sign_in)
            %li.nav-item.d-none.d-lg-block.ml-2
              = link_to t('devise.sessions.new.sign_in'), new_user_session_path, class: 'btn btn-neutral btn-icon'
            %li.nav-item.d-md-none
              = link_to t('devise.sessions.new.sign_in'), new_user_session_path, class: 'nav-link nav-link-icon'
            %li.nav-item.d-none.d-lg-block.ml-2
              = link_to t('devise.registrations.new.sign_up'), new_user_registration_path, class: 'btn btn-neutral btn-icon', id: 'nav_sign_up'
            %li.nav-item.d-md-none
              = link_to t('devise.registrations.new.sign_up'), new_user_registration_path, class: 'nav-link nav-link-icon'
  -# nav element ends
-# header element ends
