.header
  %nav.navbar.navbar-default.navbar-light.navbar-expand-lg
    .container
      / OPTIMIZE: height 65 to 60
      = link_to image_tag('icon.png', height: '60', width: '36'), root_path, class: 'navbar-brand'
      %button.navbar-toggler{ :type => 'button', 'data-toggle' => 'collapse',
      'data-target' => '#navbar-responsive', 'aria-controls' => 'navbar-responsive',
      'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation' }
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbar-responsive
        - if header_link?(:search)
          %form.mx-2.my-auto.d-inline.w-50.search
            %input.form-control{ 'aria-label' => 'Search',
              placeholder: 'rick and morty, stranger things, v.s..', type: 'search' }/
        %ul.nav.navbar-nav.ml-auto
          - if header_link?(:upload)
            %li.nav-item
              %a.nav-link.custom-link{ href: '#' } Yükle
          - if header_link?(:designs)
            %li.nav-item
              %a.nav-link.custom-link{ href: '#' } Tasarımlar
          - if header_link?(:collections)
            %li.nav-item
              %a.nav-link.custom-link{ href: '#' } Koleksiyonlar
          - if header_link?(:user_dropdown)
            %li.nav-item.dropdown
              %a.nav-link.dropdown-user-toggle#navbar-dropdown{ :href => '#', :role => 'button',
               'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' }
                %i.fas.fa-user.fa-lg
              .dropdown-menu.dropdown-menu-right{ 'aria-labelledby' => 'navbar-dropdown' }
                = link_to 'Profil', edit_user_registration_path, class: 'dropdown-item'
                %a.dropdown-item{ href: '#' } Ayarlar
                = link_to t('devise.sessions.destroy.log_out'), destroy_user_session_path, method: :delete, class: 'dropdown-item'
          - if header_link?(:sign_in)
            %li.nav-item
              = link_to t('devise.sessions.new.sign_in'), new_user_session_path, class: 'nav-link custom-link'
            %li.nav-item
              = link_to t('devise.registrations.new.sign_up'), new_user_registration_path, class: 'nav-link custom-link'








