%head
  %meta{ charset: 'utf-8' }/
  %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }/
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }/
  %title Boyutluseyler
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = Gon::Base.render_data(:camel_case => true)
  = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  = render 'layouts/disable_animations'
  = yield :head
