!!! 5
%html{ lang: 'tr' }
  = render 'layouts/head'
  %body.top_bar
    = render partial: 'layouts/header/default'
    .container
      = render "layouts/flash"
      %p.notice= notice
      %p.alert= alert
      = yield
